@model IEnumerable<Category>

<div class="col-12 col-lg-3 order-1 order-lg-2">
    <h4 class="my-3 gradient-text">Categories</h4>
    <div class="d-flex mb-3 flex-wrap">
        @if (Model != null && Model.Any())
        {
            @foreach (var category in Model)
            {
                <a href="#"
                   class="p-2 m-1 text-decoration-none d-block text-black bg-body-tertiary rounded-4 p-3">@category.CategoryName</a>
            }
        }
        else
        {
            <p>No categories found.</p>
        }

    </div>
    <p><a href="#" class="text-primary text-decoration-none mx-2">See more topics</a></p>
</div>
