@using BlogHub.ViewModels
@model PostViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addpost.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/AddPost.js"></script>
    <script type="module">
        import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
        document.addEventListener('DOMContentLoaded', function () {
            const markdownInput = document.getElementById('markdownInput');
            const preview = document.getElementById('preview');
            if (markdownInput && preview) {
                markdownInput.addEventListener('input', () => {
                    preview.innerHTML = marked(markdownInput.value);
                    if (preview.clientHeight > markdownInput.clientHeight && preview.clientHeight > 200) {
                        markdownInput.style.height = preview.clientHeight + 'px';
                    }
                });
            } else {
                console.error('markdownInput or preview element not found');
            }
        });
    </script>
}

<div class="container-fluid mx-3  mt-3 min-vh-100">
    <form method="post" action="/Post/Add" enctype="multipart/form-data" id="addForm">
        <div class="step" id="step1">
            <div class="row mt-3 mx-1">
                <div class="col">
                    <div class="input-group mx-1 border-0">
                        <input id="title" type="text" class="fs-3 text-muted w-100 border-0 title-input"
                               placeholder="Title..."  asp-for="Title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  col-md-6">
                    <div class="m-2">
                        <p class=" fs-5 custom-color">MARKDOWN</p>
                        <div class="input-group m-0 shadow">
                            <textarea id="markdownInput" class="form-control bg-light-subtle" rows="13"
                                      placeholder="Content"  asp-for="Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="m-2">
                        <p class="fs-5 h-auto custom-color">PREVIEW</p>
                        <hr>
                        <div id="preview" class="preview"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step" id="step2">
            <div class="row mt-3 mx-1">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="p-1 mt-5">
                            <div class="mb-3">
                                <h3 class="fs-4 custom-color mb d-inline">
                                    Tags
                                </h3>
                                <p class="fs-6 text-muted d-inline">(Up to 5 tags)</p>
                            </div>
                            <div class="input-group">
                                <input id="tagInput" type="text" class="form-text text-center p-0  rounded-3"
                                       placeholder="Add Tags">
                                <button id="addTagButton" type="button"
                                        class="btn btn-primary btn-sm mx-1 rounded-2">
                                    Add
                                </button>
                            </div>
                            <div id="tagContainer" class="mt-2">
                            </div>
                            <input type="hidden" id="hiddenTags" name="Tags" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step" id="step3">
            <div class="row mt-3 mx-1 mb-5">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="p-1 mt-5">
                            <div class="mb-3">
                                <h3 class="fs-4 custom-color mb d-inline">
                                    Categories
                                </h3>
                            </div>
                            <div class="input-group">
                                <select id="categorySelect" class="form-select-md rounded-3 p-1"
                                        asp-for="Category.CategoryName" aria-label="Default select example">
                                    <option value="" selected disabled hidden>Choose...</option>
                                        @if (Model.Categories != null)
                                        {
                                            @foreach (var category in Model.Categories)
                                            {
                                                <option value="@category.CategoryName">@category.CategoryName</option>
                                            }
                                        }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step" id="step4">
            <div class="row mt-3 mx-1">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center mb-5 flex-wrap">
                        <div class="p-1 mt-5">
                            <h3 class="fs-4 custom-color d-inline text-center">
                                Feature Image
                            </h3>
                            <div class="file-upload custom-file">
                                <button class="file-upload-btn" type="button"
                                        onclick="$('.file-upload-input').trigger( 'click' )">
                                    Add Image
                                </button>
                                <div class="image-upload-wrap">
                                    <input class="file-upload-input" type='file' onchange="readURL(this);"
                                           accept="image/*" asp-for="Image" />
                                    <div class="drag-text">
                                        <h3>Drag and drop a file or select add Image</h3>
                                    </div>
                                </div>
                                <div class="file-upload-content">
                                    <img class="file-upload-image" src="#" alt="your image" />
                                    <div class="image-title-wrap">
                                        <button type="button" onclick="removeUpload()" class="remove-image">
                                            Remove
                                            <span class="image-title">Uploaded Image</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step" id="step5">
            <div class="row mt-3 mx-1">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center mb-5 flex-wrap">
                        <div class="p-1 mt-5">
                            <h2 class="fs-4 custom-color d-inline mx-2">

                                Ready to Publish?
                                Speard the word!
                            </h2>
                            <div class="input-group justify-content-center">
                                <button type="submit" class="btn btn-primary btn-lg mt-3">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-3 mx-1">
        <div class="col-12 text-center">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button id="prevBtn" type="button" class="btn btn-secondary mt-3 me-2">Previous</button>
            <button id="nextBtn" type="button" class="btn btn-primary mt-3">Next</button>
        </div>
    </div>
</div>