@section Styles {
    <link rel="stylesheet" href="~/css/style.css">
}
<div class="container min-vh-100">
    <div class="alert alert-warning" role="alert">
        Post has been successfully deleted.
        <a asp-action="Index" class="alert-link">Back to Your Posts</a>
    </div>
</div>