@{
    Layout = User?.Identity?.IsAuthenticated ?? false ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_Landing.cshtml";
}

<div class="container my-5">
    <div class="row mt-3 mb-5">
        <div class="col">
            <div class="mb-3">
                <h1 class="text-center">Search Posts</h1>
            </div>
            
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <input type="search" id="searchQuery" class="form-control border-1 w-50" placeholder="Search posts..." />
                <button id="searchButton" class="btn btn-outline search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            
        </div>
    </div>
    <div class="row mt-3 mb-5" id="searchResults">
       
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(()=>{
            function performSearch(query) {
                $.ajax({
                    url: '@Url.Action("SearchAjax", "Post")',
                    type: 'GET',
                    data: { query: query },
                    success: function (result) {
                        $('#searchResults').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error occurred while searching:', error);
                    }
                });
            }
            $('#searchButton').click(()=> {
                var query = $('#searchQuery').val();
                performSearch(query);
            });
        });
    </script>
}