@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/loginsignup.css" />

</head>

<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100 m-auto my-2">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="d-none col-md-6 rounded-4 d-md-flex justify-content-center align-items-center flex-column left-box"
                 style="background: #f8f9fa;">
                <div class="featured-image mb-3">
                    <img src="~/assests/signup.svg" class="img-fluid" style="width: 250px; height: fit-content;">
                </div>
                <p class="text-black fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    Join Us
                </p>
                <small class="text-black text-wrap text-center"
                       style="width: 17rem;font-family: 'Courier New', Courier, monospace;">
                    Create an account to explore
                    more.
                </small>
            </div>
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <a class="logo mb-2" asp-action="Index" asp-controller="Home">BlogHub.</a>
                        <p>Join us by creating your account.</p>
                    </div>
                    <form asp-action="Login">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6"
                                   placeholder="Full Name" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control form-control-lg bg-light fs-6"
                                   placeholder="Email address" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                   placeholder="Password" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                   placeholder="Confirm Password" required>
                        </div>
                        <div class="input-group mb-4 d-flex align-items-center justify-content-center">
                            <input type="submit" class="btn btn-lg button w-100 fs-6" value="Sign Up">
                        </div>
                    </form>
                    <div class="row d-flex flex-column gap-3">
                        <small class="text-center">Or Sign Up with:</small>
                        <div class="d-flex justify-content-between gap-2 w-100">
                            <button class="btn btn-lg btn-light w-31 fs-6">
                                <img src="~/assests/google.svg"
                                     class="me-2"><small>Google</small>
                            </button>
                            <button class="btn btn-lg btn-light w-31 fs-6">
                                <img src="~/assests/facebook.svg"
                                     class="me-2"><small>Facebook</small>
                            </button>
                            <button class="btn btn-lg btn-light w-31 fs-6">
                                <img src="~/assests/twitter-x.svg"
                                     class="me-2"><small>Twitter</small>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <small>Already have an account? <a asp-action="Login">Log In</a></small>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>