@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <div class="mb-3">
        <h1 class="text-center">Manage your account</h1>
        <h2 class="text-center">Change your account settings</h2>
    </div>
   
    <hr />
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="d-flex justify-content-start offset-2">
                <img src="~/assests/house.svg" class="img-fluid me-2" alt="Home" style="width: 24px; height: 24px;" />
                <a href="/" class="btn-custom mb-3">Back to Home</a>
            </div>
            <div class="d-flex flex-column align-items-center">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
    </div>
</div>

@section Styles {
    <style>
        .btn-custom {
            color: #6c63ff;
            transition: background-color 0.3s ease, border-color 0.3s ease;
            text-decoration: none;
        }
    </style>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}