@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="my-3">
    <h1 class="text-center">Manage your account</h1>
    <h2 class="text-center">Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3 offset-2">
            <div class="d-flex flex-column align-items-center">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="col-md-7">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
