@page
@model AccessDeniedModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Access Denied</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="icon" href="~/icon.ico" />
        <style>
            body {
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .center-container {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container center-container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-danger">Access Denied</h1>
                    <h3>You do not have permission to view this page.</h3>
                    <div class="mt-5">
                         <img src="~/assests/access_denied.svg" class="img img-thumbnail border-0" width="350px" height="350px" alt="Access Denied" />
                    </div>
                   <a href="/" class="btn btn-primary mt-3 text-center">Go to Home</a>
                </div>
            </div>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
