@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100 h-75">
        <div class="col-md-6 col-lg-5">
            <div class="card p-4 shadow-lg">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <hr />

                @if (Model.DisplayConfirmAccountLink)
                {
                    <p class="text-center">
                        This app does not currently have a real email sender registered, see
                        <a href="https://aka.ms/aspaccountconf" class="text-decoration-none">these docs</a>
                        for how to configure a real email sender. Normally this would be emailed:
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="text-decoration-none">Click here to confirm your account</a>
                    </p>
                }
                else
                {
                    <p class="text-center">
                        Please check your email to confirm your account.
                    </p>
                }
            </div>
        </div>
    </div>
</div>
