<div class="col">
    <div class="text-center my-5">
        <h4 class="mb-3" style="font-size: 4rem;">
            No result found for:  <span class="gradient-text" style="font-size: 4rem;"> @TempData["SearchQuery"] !</span>
        </h4>
        <a asp-controller="Post" asp-action="Add" class="btn btn-primary btn-lg px-5 py-3" style="font-size: 1.3rem; border-radius: 50px;">
            Create a new post
        </a>
    </div>
</div>